{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Triple flame ribbon favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/flame-icon-180.png"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/flame-icon-32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/flame-icon-192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=flame"/>
<link rel="icon" href="/images/flame-icon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
